<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arpitparekh.verylateandroidbatch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="VeryLateAndroidProject"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.JigneshAndroidProject"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DownloadPhotoActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".services.MusicService"
            android:exported="true"></service>

        <activity
            android:name=".services.MyServiceActivity"
            android:exported="true">

        </activity>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAT7n6juS_v9EQ-20w7eQ_WoRmU_sOlSgI" />

        <activity
            android:name=".google_map.MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps"></activity>
        <activity
            android:name=".firebase_realtime_storage.RealtimeActivity"
            android:exported="true" />
        <activity
            android:name=".firebase_auth.AuthenticationActivity"
            android:exported="true" />
        <activity
            android:name=".retrofit_api_calling_headers_parameter.PhotoListActivity"
            android:exported="true" />
        <activity
            android:name=".retrofit_ImageSearch.ImageActivity"
            android:exported="true" />
        <activity
            android:name=".retrofit_api_calling.MyRetrofitActivity"
            android:exported="true" />
        <activity
            android:name=".api_calling.SecondMainActivity"
            android:exported="false" />
        <activity
            android:name=".api_calling.JsonCalllingActivity"
            android:exported="true" />
        <activity
            android:name=".room_crud.RoomListActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>